@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");

:root {
  --blue-dark: #17253b;
  --grey-dark: #3d4b5a;
  --yellow-light: #f3e3b9;
  --yellow-dark: #f9d0a8;
  --orange: #daa792;
  --grey: #a3adcd;
  --blue: #a4c0ed;
  --blue-light: #d3dbe9;
  --cyan: #c5ebf8;
}

.title-font {
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: bold;
  font-size: 50px;
  color: white;
  margin: 0;
}

p,
.base-font,
input {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

input {
  width: 100%;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 18px;
  border: none;
  border-radius: 999px;
  background: var(--blue-light);
  box-shadow:
    0 4px 12px var(--blue-dark),
    inset 0 1px 0 var(--blue-light);

  color: var(--blue-dark);
  font-size: 1rem;
  transition: all 0.25s ease;
}

input:focus {
  box-shadow:
    0 0 0 3px var(--cyan),
    0 8px 20px var(--blue-dark);

  transform: scale(1.03);
}

.foreground {
  position: absolute;
  top: 30%;
  width: 22vw;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 32px;
  border-radius: 50px;
  background: var(--blue-dark);
  border: 1px solid var(--grey-dark);
  box-shadow:
    0 5px 5px var(--blue-dark),
    0 0 5px var(--blue-light);
  opacity: 85%;
}

input {
  width: 100%;
  padding: 14px 18px;
}

.buttons {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 50px;
  background: var(--grey-dark);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttons:hover {
  transform: translateY(-2px);
  background: var(--blue);
  color: var(--blue-dark);
}

.background {
  overflow: hidden;
}

.main {
  place-items: center;
  padding: 5%;
}

.b-google {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 50px;

  background: white;
  color: var(--grey-dark);

  font-size: 1.1rem;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.2s ease;

  box-shadow: 0 4px 12px var(--blue-dark);
}

.b-google:hover {
  transform: translateY(-2px);
  background: var(--blue-light);
}
